<!DOCTYPE html>
<html>
  <head>
    <title data-inertia>MySillage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_javascript_tag "inertia.jsx" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
